beautifulsoup4==4.8.2
gensim==3.8.0
inflect==4.1.0
jellyfish==0.8.2
kaggle==1.5.8
Keras==2.4.3
langdetect==1.0.8
matplotlib==3.3.4
networkx==2.4
-e git+https://github.com/huggingface/neuralcoref.git@cc78653d14259b2dfed3280d6a6c87553ba5f8b3#egg=neuralcoref
nltk==3.4.5
numpy==1.18.0
pandas==1.1.5
plotly==5.3.1
pyLDAvis==2.1.2
pyspark==2.4.4
python-Levenshtein==0.12.0
rasa==2.2.1
rasa-core-sdk==0.14.0
rasa-sdk==2.2.0
regex==2020.7.14
requests==2.25.1
scikit-image==0.16.2
scikit-learn==0.23.2
scipy==1.5.4
seaborn==0.10.0
sentence-transformers==0.3.5.1
sentencepiece==0.1.91
snowballstemmer==2.0.0
spacy==2.3.5
tensorflow==2.3.1
textacy==0.10.0
textblob==0.15.3
torch==1.6.0
transformers==3.0.2
Whoosh==2.7.4
wordcloud==1.7.0
wordseg==0.0.1
